<header class="sticky top-0 z-10 bg-white shadow-sm">
    <div class="flex justify-between p-4">
        <div class="flex items-center gap-2">
            <button class="p-2 rounded-full hover:bg-gray-100 transition-colors">
                <img src="assets/images/chef-hat.svg" alt="logo-app" [routerLink]="['/homepage']">
            </button>
            <h1 class="text-xl font-semibold text-gray-800">RecipeApp</h1>
        </div>
        <button class="p-2 rounded-full hover:bg-gray-100 transition-colors">
            <img src="assets/images/user.svg" alt="" class="">
        </button>
    </div>
</header>
