<div class="fixed inset-0 bg-black/30 backdrop-blur-sm z-50 flex items-center justify-center">
  <div class="bg-white rounded-lg shadow-md px-6 py-6 max-w-xl mx-auto">
    <h2 class="text-xl font-bold">Change your password</h2>
    
    <!-- Stato di errore -->
    @if (responseError) {
      <div class="bg-red-100 border border-red-400 px-4 py-3 mt-4 rounded flex justify-between items-center" role="alert">
        <span class="text-red-700 font-semibold">{{ responseError }}</span>
      </div>
    }
    
    <!-- Stato di successo -->
    @if (responseForm) {
      <div class="bg-green-100 border border-green-400 px-4 py-3 mt-4 rounded flex justify-between items-center" role="alert">
        <span class="text-green-700 font-semibold">{{ responseForm }}</span>
      </div>
    }
    
    <!-- Form visibile solo se il token è valido e non ci sono messaggi di successo -->
    @if (isValidToken && !responseForm) {
      <p class="text-gray-600 mt-2 mb-4 text-pretty">Create a strong, unique password that you don't use elsewhere</p>
      <p class="text-sm text-gray-500 mb-4">Changing password for user: <span class="font-medium">{{ username }}</span></p>
      
      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="w-full">
        <div class="flex flex-col mb-4">
          <label for="password" class="text-sm font-medium mb-2">Password</label>
          <input
            type="password" 
            id="password" 
            formControlName="password"
            [ngClass]="{'border-red-500': changePasswordForm.get('password')?.invalid && changePasswordForm.get('password')?.touched}"
            class="h-10 px-3 w-full rounded-md border-2 border-gray-300 focus:border-black focus:outline-none text-sm font-medium transition duration-300"
            placeholder="••••••••"
          >
          @if (changePasswordForm.get('password')?.invalid && changePasswordForm.get('password')?.touched) {
            <div class="text-red-500 text-xs mt-1">
              @if (changePasswordForm.get('password')?.errors?.['required']) {
                <p>Password is required</p>
              }
            </div>
          }
        </div>
        
  
        <div class="flex gap-3 mt-6">
          <button type="submit" [disabled]="changePasswordForm.invalid" class="bg-black text-white text-sm font-medium h-10 px-4 py-2 w-full rounded-md inline-flex items-center justify-center whitespace-nowrap hover:bg-gray-800 disabled:bg-gray-400 disabled:cursor-not-allowed transition-colors duration-200">
            Change Password
          </button>
        </div>
      </form>
    }
  </div>
</div>