<main class="flex flex-col items-center px-4 py-6 bg-gray-50 w-full">
    @if (recipe) {
        <a class="inline-flex items-center gap-2 text-gray-600 hover:text-gray-950 transition-colors mb-6" [routerLink]="['/homepage']">
            <img src="/assets/images/arrow-left.svg">
            <p class="font-medium">Back to recipes</p>
        </a>
        <h2 class="text-3xl font-bold mb-6">{{recipe.nameMeal}}</h2>
        <img [src]="recipe.imgMeal" [alt]="recipe.nameMeal" class="object-cover rounded-xl md:max-h-100 md:min-w-[500px] mb-8">
        <app-instruction-card [instruction]="recipe.instruction"></app-instruction-card>
    } @else {
        <h2 class="text-center text-xl font-bold text-gray-500 py-5">No recipe selected</h2>
        <button (click)="goBack()" class="flex items-center justify-center px-5 py-3 mt-5 bg-black text-white font-medium rounded-lg">Go Back</button>
    }
</main>